/JAVA/PA/nbproject/private/
/JAVA/PA/build/
/JAVA/PA/dist/
/JAVA/JavaFXApplication2/nbproject/private/
/JAVA/JavaFXApplication2/build/
/JAVA/JavaFXApplication2/dist/
/JAVA/JavaFXApplication3/nbproject/private/
/JAVA/JavaFXApplication3/build/
/JAVA/JavaFXApplication3/dist/
/JAVA/JavaApplication1/nbproject/private/
/JAVA/JavaApplication1/build/
/JAVA/JavaFXApplication4/nbproject/private/
/JAVA/JavaFXApplication4/dist/
/JAVA/JavaFXApplication4/build/
