#title{
	position: absolute;
	top: 10%;
	left: 45%;
	font-weight: bold ; 

}

.container{

	
	position: absolute;
	top:18%;
	left: 15% ; 
	height: auto;
	width: auto;


}

.listContainer{
	height: auto;
	width: auto;
	border: lightgrey solid 1px ; 
	border-radius: 40px;
	box-shadow: 15px 15px 40px 40px ; 
	width: 1400px;
	border:solid 1px black;
	margin:10px; 
	border-radius: 20px;
	background-color: rgba(148, 148, 148, 0.45);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	transition: 0.7s ; 

}

.title a {
	text-decoration: none ; 
	color: white;
	padding: 2px;
}
.listContainer:hover{
	z-index: 1 ; 
	transform: scale(1.1);
}
.listContainer a:hover{
	color: black;
	text-align: none;
}
.options a{
	margin: 5px;
}
#delete{
	text-decoration: none ; 
	color: darkred ;
}
#edit {
	text-decoration: none ; 
	color : darkgreen;

}
#contact{
	text-decoration: none; 
}
.infoContainer{
	position: absolute;
	top:18%;
	left: 15% ; 
	height: auto;
	width: 1400px;
	border:lightgrey solid 2px;
	border-radius: 25px;
	
}

.row-1{
padding: 15px;	
}
.row-2{
	padding: 15px;
}
.info{
	display: flex;
	justify-content: space-between;
}
h6{
	color: blue;
}
.editContainer input{
width: 800px ; 
position: relative;
left: 10%;
padding: 10px;
margin: 15px;
border:2px lightgrey solid;
background-color: lightgrey ; 
border-radius: 20px;
}

.editContainer p{
	color: blue;
	position: relative;
	left: 12%;
}

.editContainer{
	position: absolute;
	top:18%;
	left: 25% ; 
	height: auto;
	width: 1000px;
	border:lightgrey solid 2px;
	border-radius: 25px;
}
#editB{
	width: 200px;
	position: relative;
	left: 40%;
	background-color: grey;
	color:white;
	cursor: pointer;
}