body {
    position: relative;
  }

.header-blue {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    height: 80vh;
    margin-bottom: 50px;
    
    font-family: 'Nunito', sans-serif ;
}
.header-blue .container{
    margin-bottom: 14px;
    padding-top: 100px;
}

.nav li{
  float:left;
}
.navbar {
  width: 90%;
    height: 80px !important; 
    margin:auto;
}
  
.btn_con{
  margin-right: 10px;
  background-color: #6E46F7;
  border: #6E46F7;
  border-radius: 20px;
}
.header-blue .hero h1 {
    color: #fff;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4
}
.header-blue .hero p {
    
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 300
}
.header-blue .phone-holder {
    text-align: right
}

.header-blue div.iphone-mockup {
    position: relative;
    max-width: 400px;
    display: inline-block
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto
}



.header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2
}

/*------------------- A PROPOS -------------------------*/
.A_propos{
    width:80% ;
    height: 450px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin-bottom: 100px;
    Margin:auto;
}
.A_propos h1 {
  color: black;
  text-align: center;
  font-family: 'Nunito', sans-serif ;
  margin-bottom: 30px;
  font-size: 50px;
}
.A_propos .presentation{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
}
.A_propos img{
  width: 50%;

}
.A_propos p {
    color: black;
    margin-bottom: 40px;
    font-family: 'Nunito', sans-serif ;
    font-size: 20px;
  }  

/*------------------- commun -------------------------*/
.title{
  color: black;
  text-align: center;
  font-family: 'Nunito', sans-serif ;
  margin-bottom: 30px;
  font-size: 40px;
}

.paragraph{
  color: black;
  margin-bottom: 40px;
  font-family: 'Nunito', sans-serif ;
  font-size: 20px;
  color: #fff;

}
.part3 h1{
  color: #fff;

}
.flexbox_{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin-bottom: 200px;
}

.flexbox_ p{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 40px;
  color: #fff;


  width: 70%;
}
.flexbox_ img{
  width: 35%;
}
/*------------------- programme_unique -------------------------*/
.programme_unique{
  width:80% ;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-top: 20px;
  Margin:auto;
}
.programme_unique h1{
  color: black;
  text-align: center;
  font-family: 'Nunito', sans-serif ;
  margin-bottom: 30px;
  font-size: 35px;
}
.programme_unique p {
  color: black;
  margin-bottom: 40px;
  font-family: 'Nunito', sans-serif ;
  font-size: 20px;
} 
.programme_unique .presentation__2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
  width: 60%;
}

  /*------------------- part3 -------------------------*/
.part3{
  width : 100%;
  height: 500px;
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);

}
  .part3_pre{
    width:80% ;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 20px;
    Margin:auto;
  }

  /*------------------- Rejoindre -------------------------*/


  .rejoindre{
      width: 70%;
      height: 500px;
      margin-top: 200px;
      Margin: auto;
      display: flex;
      flex-direction: row;
  }
  .rejoindre h1{
      text-align: center;
      font-family: 'Nunito', sans-serif ;
  }
  .rejoindre img {
      
    max-width: 400px;
    margin-top: 80px;
  } 
  .rejoindre .client_part img {
    max-width: 310px;
    
    
  } 
  .rejoindre .entreprise_part {
    padding-top: 100px;
      margin-right: 200px;
  }
  .rejoindre .client_part {
    padding-top: 100px;
      margin-right: 200px;
  }

  .rejoindre p {
    font-family: 'Nunito', sans-serif ;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }


.btn_stndr {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn_stndr a {
  position: relative; 
  color : white;
  text-decoration: none;
  z-index: 1;
}

.btn_stndr:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #6E46F7;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_stndr:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
